.image{
  max-width: 100%;
  max-height: 100%;
  /*position: fixed;
  top: 50%;
  left: 50%;*/
}
body{
  background:black;
  color:white;
}


.object {
  position: relative;
}

.lead {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: 30px;
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #fff,
  0 0 40px #ff00de,
  0 0 70px #ff00de,
  0 0 80px #ff00de,
  0 0 100px #ff00de,
  0 0 150px #ff00de;
}

.subreddit{
  position: absolute;
  top: 150%;
  background-color: gray;
  border-radius:5px;
  padding: 3px 6px;
  opacity:0.75;
  position: absolute;
  left: 1%;
  font-size: 16px;
  text-shadow: none;
}

.slideshow{
  position: absolute;
  right: 1%;
  top: 1%;
  background-color: gray;
  border-radius:5px;
  padding: 3px 6px;
  opacity:0.75;
}

.title{
  text-align: center;
  position: absolute;
  top: 95%;
  left: 1%;
  background-color: gray;
  border-radius:5px;
  padding: 3px 6px;
  opacity:0.8;
}

/*.title {
text-align: center;
position: relative;
border-radius: 5px;
background-color: gray;
padding: 3px 6px;
opacity: 0.75;
margin-left: auto;
margin-right: auto;
width: 50%;
}*/

.ups{
  text-align: left;
  position: absolute;
  top: 90%;
  right: 1%;
  background-color: gray;
  border-radius:5px;
  padding: 3px 6px;
  opacity:0.75;
}

.comments{
  text-align: right;
  position: absolute;
  top: 95%;
  right: 1%;
  background-color: gray;
  border-radius:5px;
  padding: 3px 6px;
  opacity:0.75;
}

a{
  color: white;
}

.arrow{
  position: absolute;
  top: 20%;
  width: 350px;
  opacity:0.6;
}

.arrow:hover{
  opacity:0.9;
}

.left {
  left: 10%;
}

.right {
  right: 10%;
}