html,body {
  background:black;
  color:white;
}

a{
  color: white;
}

.image{
  max-width: 100%;
  max-height: 99%;
}

.page {
  position: relative;
}

.lead {
  position: absolute;
  top: 2%;
  left: 1%;
  font-size: 30px;
  text-shadow: 0 0 10px #222,
  0 0 20px #222,
  0 0 30px #222,
  0 0 40px #2200de,
  0 0 70px #2200de,
  0 0 80px #2200de,
  0 0 100px #2200de,
  0 0 150px #2200de;
}

.subreddit{
  position: absolute;
  top: 150%;
  background-color: rgb(51,51,51);
  border-radius:5px;
  padding: 3px 6px;
  opacity:0.8;
  position: absolute;
  left: 0%;
  font-size: 16px;
  text-shadow: none;
  z-index: 100;
}

.title{
  text-align: center;
  position: fixed;
  bottom: 3%;
  left: 1%;
  background-color: rgb(51,51,51);
  border-radius:5px;
  padding: 3px 6px;
  opacity:0.8;
}

.comments{
  text-align: right;
  position: fixed;
  bottom: 3%;
  right: 1%;
  background-color: rgb(51,51,51);
  border-radius:5px;
  padding: 3px 6px;
  opacity:0.75;
}

.menu {
  text-align: left;
  position: absolute;
  top: 2%;
  right: 1%;
  background-color: rgb(51,51,51);
  border-radius:5px;
  padding: 3px 6px;
  opacity:0.75; 
}

.seperator { 
  padding: 0px 5px;
}

.arrow {
  position: fixed;
  top: 6%;
  width: 70px;
  opacity: .9;
}

.left {
  right: 100px;
}

.right {
  right: 20px;
}

.buffer {
  display: none;
}